<% layout('layouts/boilerplate') %> 
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add new campground</a>
</div>
<ul>
    <% for(let campsite of campgrounds) {%>

        <li><a href="/campgrounds/<%= campsite._id%>">
                <%= campsite.title %>
            </a></li>
        <% } %>
</ul>